<!-- Table version of game board - rest of code in games.scss  -->

<table>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table>



<!-- Canvas version of game board, this is the full canvas code...no additional CSS needed

<!DOCTYPE html>
<html>
	<head>
		<title> Chess Board</title>
	</head>

<body>

	<canvas id="myCanvas" width="560" height="560" style="border:2px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas>

	<script>

	var c=document.getElementById("myCanvas");
	var ctx=c.getContext("2d");

	for(i=0;i<8;i++)
	{for(j=0;j<8;j++)
	{ctx.moveTo(0,70*j);
	ctx.lineTo(560,70*j);
	ctx.stroke();

	ctx.moveTo(70*i,0);
	ctx.lineTo(70*i,560);
	ctx.stroke();
	var left = 0;
	for(var a=0;a<8;a++) {
	    for(var b=0; b<8;b+=2) {
	      startX = b * 70;
	      if(a%2==0) startX = (b+1) * 70;
	      ctx.fillRect(startX + left,(a*70) ,70,70);
		}}
	}}

		
	</script>

</body>
</html> -->



<!-- Div version of game board, CSS is in the games.scss

<html>
  <head>
    <meta charset="UTF-8"> 
    <title>Chessboard</title>
   
    <style type="text/css">
      .chessboard {
        width: 480px;
        height: 480px;
        margin: 20px;
        border: 5px solid #333;
      }
      
      .black {
        float: left;
        width: 60px;
        height: 60px;
        background-color: black;
        font-size:50px;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
      }
      
      .white {
        float: left;
        width: 60px;
        height: 60px;
        background-color: #fff;
        font-size:50px;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
      }
    </style>
  </head>

<body>
  <div class="chessboard">
    <div class="white"></div><div class="black"></div><div class="white"></div><div class="black"></div>
    <div class="white"></div><div class="black"></div><div class="white"></div><div class="black"></div>

    <div class="black"></div><div class="white"></div><div class="black"></div><div class="white"></div>
    <div class="black"></div><div class="white"></div><div class="black"></div><div class="white"></div>

    <div class="white"></div><div class="black"></div><div class="white"></div><div class="black"></div>
    <div class="white"></div><div class="black"></div><div class="white"></div><div class="black"></div>

    <div class="black"></div><div class="white"></div><div class="black"></div><div class="white"></div>
    <div class="black"></div><div class="white"></div><div class="black"></div><div class="white"></div>

    <div class="white"></div><div class="black"></div><div class="white"></div><div class="black"></div>
    <div class="white"></div><div class="black"></div><div class="white"></div><div class="black"></div>

    <div class="black"></div><div class="white"></div><div class="black"></div><div class="white"></div>
    <div class="black"></div><div class="white"></div><div class="black"></div><div class="white"></div>

    <div class="white"></div><div class="black"></div><div class="white"></div><div class="black"></div>
    <div class="white"></div><div class="black"></div><div class="white"></div><div class="black"></div>

    <div class="black"></div><div class="white"></div><div class="black"></div><div class="white"></div>
    <div class="black"></div><div class="white"></div><div class="black"></div><div class="white"></div>
  </div>
</body>
</html>